

$menuSize: 275px;               // 菜单列表的宽度
$headSize: 60px;                // 顶部操作栏的高度
$operatorSize: 275px;           // 右侧编辑相亲的宽度

$ibc: #dcdfe6;                // border color 边框颜色
$ibl: #ebeef5;                // border color light 边框颜色，轻
$itc: #314659;                // text color 字体颜色
$icc: rgba(0, 0, 0, 0.45);    // icon color 图标颜色
$boxShadowColor: #f0f1f2;     // 阴影颜色

$primary: #409EFF;            // 主色调

